
*{
    font-family: 'Inconsolata', monospace;
}
html{
    scroll-behavior: smooth;
}
.loading{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0,0,0,0.5);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.loading.active{
    display: flex;
}
.loading p{
    font-size: 2rem;
    color:white;
    animation: loading 1s linear infinite;
    font-weight: 600;
    cursor:default;
}
@keyframes loading {
    0%{opacity: 0;}
    25%{opacity: 0,5;}
    50%{opacity: 1;}
    75%{opacity: 0,5;}
    100%{opacity: 0;}
}
.main {
  background: linear-gradient(50deg,purple,bluenavy,cyan);
  background-size: 400% 400%; /* Adjust these values as needed */
  animation: gradient 15s ease infinite;
  padding: 30px;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
marquee a{
    text-decoration: none;
    color: #111eac;
}
/* INTRO - HEADER */
.header{
    background-image: linear-gradient(to right bottom,rgba(221,238,249,0.7),rgba(188,237,249,0.3));
    display: flex;
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
}

.header__left{
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(204, 196, 196);
}
.header__avata {
    display: flex;
    justify-content:center;
}
.header__avata-img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius:20px;
    box-shadow: 0px 5px 5px 1px  rgba(50, 50, 50, 0.402);
}
/* HEADER - LEFT */
.header__left-name {
    font-size: 2rem;
    margin-bottom: 10px;
}
.header__left-description{
    margin-bottom: 50px;
    font-size:1.2rem;
}
.header__left-icon{
    text-decoration: none;
    font-size: 30px;
    margin-top: 30px;
}
.header__left-icon {
    text-decoration: none;
    font-size: 30px;
    margin-top: 1px;
}

.header__left-icon a {
    text-decoration: none;
    color: #000000;
    margin: 0%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: none;
    background-color: rgb(134, 199, 201);
    width: 40px; 
    height: 40px; 
    text-align: center;
    box-shadow: 0px 5px 5px 1px rgba(0, 250, 254, 0.402);
    animation:none ;
    border-radius: 50%; 
    overflow: hidden; 
}

i.fa-brands.fa-facebook-messenger {
    color: royalblue;
}

@keyframes scaleIcon{
0% {transform: scale()}
  20%  {transform: scale(1)}
  40%  {transform: scale(1)}
  60% {transform: scale(1)}
  80% {transform: scale(1)}
  100% {transform: scale(1)}
}
i.fa-brands.fa-facebook-f{
    color: #0066cc;
}
i.fa-brands.fa-instagram{
    color: #d8534f;
}
i.fa-brands.fa-youtube {
    color: red;
}
i.fa-brands.fa-github {
    color: black;
}
.header__left-icon a:hover{
    border-color: black;
}
/* HEADER - RIGHT */
.header__right{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.header__right-info h3 {
    color:rgb(140, 136, 136);
    margin:21px;
    font-size:1.2rem;
}
.header__right-info p {
    color:rgb(48, 44, 44);
    font-size:16px;
    padding-top: 6px;
    font-size:1.2rem;
}
.header__right-info{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}
/* CONTAINER - NAV */
.container{
    margin-top: 50px;
    margin-bottom: 50px;
}
.container__selection{
    background-color:rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    z-index: 1;
}
.container__selection-item{
    background-color:rgba(255, 255, 255, 0.5);
    margin-top:20px;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 5px 5px 1px  rgba(50, 50, 50, 0.402);
    width: 120px;
}
.container__selection-item p{
    font-size: 20px;
}
.container__selection-item:hover{
    background-color: rgb(222, 219, 219);
}
.container__selection-item.active{
    background-color: darkgray;
}
/* CONTAINER-CONTENT */
.container__content-all{
    margin-bottom:20px;
}
.container__content-about-me h1{
    font-size:1.6rem;
    font-weight: 300;
    /* text-align: center; */
}
.container__content{
    background-color:rgba(255, 255, 255, 0.3);
    display: flex   ;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    display:none;
    animation:slide 0.5s linear;
}
.container__content.active{
    display: flex;
}
/* CONTAINER - INFOMATION */

.title__discription h1{
    margin-top:50px;
    text-align:center;
}
.title__discription p{
    font-size:1.2rem;
    margin: 10px;
    position: relative;
}
.title__discription p::after{
    content:"";
    position:absolute;
    width: 3px;
    height: 100%;
    background-color: #0066cc;
    /* border-radius: 50%; */
    left:-10px;
    top: 0;
}
.container__content-img.col.l-6.m-6.c-12 {
    display: flex;
    margin-top:40px;
}
/* .container__content-img-item{
    margin-top:40px;
} */
.img-link{
    width:90%;
}
.container__content-img img{
    object-fit: contain;
    width:100%;
    border-radius:20px;
    margin-bottom: -3px;
    /* transition-duration: 0.3s; */
    /* margin: 20px 0; */
    /* margin-bottom:10px; */
}
.projects-img{
    position: relative;
    overflow: hidden;
    box-shadow: 0px 5px 5px 1px  rgba(50, 50, 50, 0.402);
    border-radius:20px;
}
.display-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.display-flex h1, span{
    color:#32ff07;
    font-size: 1.2rem;
}
.source-code a{
    color: #1efffd;
    font-size: 1.1rem;
    display: block;
    text-align: center;
    margin-top:6px;
    text-decoration: revert;
}
.container__content-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects-img-hover {
    position: absolute;
    /* top: -100%; */
    bottom: -100%;
    height: 100%;
    left: 0;
    right: 0;
    /* z-index: -1; */
    background-color: rgba(0, 0, 0, 0.716);
    color: rgb(16, 189, 22);
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    transition:0.5s ease;
    border-radius: 20px;
    /* pointer-events: none; */
    /* display:none; */
}


.container__content-img b{
    font-size:1.4rem;
    margin-top:14px ;
    text-align: center;
}

.container__content.active{
    display: block;
    margin-bottom: 20px;
}
.projects-img:hover .projects-img-hover{
    bottom:0;
}
/* SLIDE - CONTAINER */
.slide__container{
    background-color: rgb(104, 184, 199);
    padding:20px;
    margin:20px;
    position: relative;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 5px 5px 1px  rgba(50, 50, 50, 0.402);
    margin-bottom: 20px;
}
.slide__container .slide-left{
    position:absolute;
    left:-36px;
    top:40%;
    border:10px solid white;
    background-color:#fff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    opacity: 0.7;
}
.slide__container .slide-right{
    position:absolute;
    right:-36px;
    top:40%;
    border:10px solid white;
    background-color:#fff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    opacity: 0.7;
}
.slide-main{
    display:none;
    animation:slide linear 0.3s;
}
@keyframes slide {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.slide-main.active{
    display: flex;
}
.slide-img img{
    width:80px;
    height: 80px;
    border-radius: 20px;
    margin: 0 20px;
}
.slide-dot{
    display: flex;
    position:absolute;
    bottom:-15px;
    margin-left:50%;
    margin-right:50%;
    transform:translateX(-70%) ;
}
.slide-dot-item{
    width:15px;
    height: 15px;
    border-radius: 50%;
    background-color:#fff;
    transition-duration: 0.3s;
    margin-left:10px;
}
.slide-dot-item.active{
    background-color:dimgrey;
}
.slide-dot-item:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.slide-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.slide-content p{
    padding:10px 0;
    text-align:left;
}
.slide-content h1{
    font-size:1.6rem;
}
/* CONTAINER EDUCATION */
.container__content-title h1{
    font-size:1.6rem;
    text-align: center;
    font-weight:300;
}
/* CONTAINER targets */
.container__targets h1{
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;

}
.container__targets h2{
    font-size: 1.4rem;
    font-weight: 300;
    position: relative;
}
.container__targets h4{
    font-size: 1.4rem;
    font-weight: 300;
    color:rgb(121, 112, 112);
}
.container__targets p{
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 20px;
    position: relative;
}
.container__targets p::after{
    content:"";
    position:absolute;
    width: 3px;
    height: 100%;
    background-color: #0066cc;
    left:-10px;
    top: 0;
}
.container__targets h2::after{
    content:"";
    position:absolute;
    width: 3px;
    height: 100%;
    background-color: #0066cc;
    left:-10px;
    top: 0;
}
/* CONTAINER-HOBBIES */
.container__hobbies h2{
    font-size:1.8rem;
    font-weight: 300;
    text-align: center;
}

.container__hobbies-item{
    display: flex;
    padding:20px;
    background-color:rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 0px 5px 5px 1px  rgba(50, 50, 50, 0.402);
    position: relative;
    cursor: default;
    transition: transform linear 0.2s;
    transform: translateY(0);
}
.container__hobbies-item:hover{
    transform: translateY(-3px);
}
.container__hobbies-item:last-child{
    margin-bottom:0;
}
.container__hobbies-item img{
    width:150px;
    height:0px;
    border-radius: 40px;
    object-fit: cover;
    margin:0 10px;
    max-height: 150px;
}

.hobbies-description h1{
    font-size:1.6rem;
    font-weight: 300;
    margin-bottom: 5px;
}
.hobbies-description p{
    text-align: left;
}
