*{
    box-sizing: border-box;
}
/* pc?? */
@media (min-width:64em) {
    .container__selection{
        padding-bottom: 30px;
    }
   
}
/* tablet and pc */
@media (min-width:63.93em) and (max-width:77.5em) {
    .header__left-info{
        text-align: center;
    }
    
}
/* tablet */
@media (min-width:46.25em) and (max-width:64em) {
    .container__selection{
        flex-direction:row;
        justify-content: space-around;
        padding-bottom:20px;
        margin-bottom:20px;
    }
}
/* mobile and tablet*/
@media (max-width:63.9em){
    .header__left{
        border-right:none;
    }
    .display-flex h1, span{
        color:#32ff07;
        font-size: 1rem;
    }
}
/* mobile */
@media (max-width:46.18em) {
    .header__left-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__left-name {
        margin-top: 10px;
    }
    .header__left-discription{
        margin-bottom: 24px;
    }
    .container__content-img img{
        width: 100%;
    }
    .container__content-title h1{
        font-size:2rem;
        margin: 10px 0;
    }
    .title__discription p{
        font-size:1.2rem;
        margin: 0;
    }
    .container__selection{
        flex-direction: row;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .container__selection-item{
        width: auto;
        margin-top:0;
        padding: 0 5px;
        margin: auto;
        background-color:rgba(255, 255, 255,0.9);
        border-radius: 10px;
    }
    .container__selection-item p{
        font-size: 1rem;
    }
    .slide-img img{
        margin:0;
    }
    .slide__container{
        margin:0;
        padding:0;
        padding-top:10px;
        margin-top: 20px;
    }
    .slide-dot{
    transform:translateX(-50%) ;
    }
    
    .header__avata{
        margin-top:-60px;
        margin-bottom:20px;
    }
    .enjoin-description{
        text-align: center;
    }
    .container__enjoin-item{
        flex-direction:column;
    }
    .enjoin-description h1{
        margin: 10px 0;
    }
    .img-link{
        width:100%;
    }
    .display-flex h1, span{
        color:#32ff07;
        font-size: 1rem;
    }
}